* {
    margin: 0;
    padding: 0;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: chocolate;
    z-index: 2;
  }
  
  main {
    position: relative;
    width: calc(100vw - 200px);
    min-height: 100vh;
    height: 2000px;
    margin-left:200px;
  }
  
  .main_container {
    position: relative;
    width: 700px;
    height: 680px;
    float: left;
    background-color: aqua;
  }
  
  aside {
    position: relative;
    width: 380px;
    height: 100%;
    float: left;
    background-color:lightskyblue;
  }
  .upper {
      position: relative;
      width: 100%;
      height: 300px;
      float: left;
      background-color: bisque;
  }
  .lower {
      position: relative;
      width: 100%;
      height: 380px;
      float: left;
  }
  .head {
      position: relative;
      width: 90%;
      height: 155px;
      float: left;
      background-color:yellow;
      margin: 30px;
      margin-bottom: 0px;
  }
  .header {
      position: relative;
      width: 100%;
      height: 70px;
      float: left;
      background-color:olive;
      margin: 0
  }
  .header:nth-child(even){
      margin-top: 15px;
      width: 70%;
  }
  .fil {
    position: relative;
      width: 90%;
      height: 120px;
      float: left;
      background-color:yellow;
      margin: 30px;
  }
  .fill {
      position: relative;
      width: 100%;
      height: 30px;
      float: left;
      background-color:olive;
      margin-bottom: 15px;
  }
  .fill:nth-child(4), .fill:nth-child(5){
    margin-top: 15px;
  }
  .right {
      position: relative;
      width: 300px;
      height: 70px;
      float: left;
      margin: 30px;
      margin-top: 50px;
      margin-bottom: 0px;
  }
  .pict {
      position: relative;
      width: 90px;
      height: 100%;
      float: left;
      background-color:lightcoral;
      margin: 0;
  }
  .text {
      position: relative;
      width: 180px;
      height: 50px;
      float: right;
      margin: 10px 0;
  }
  .inside{
      position: relative;
      width: 180px;
      height: 20px;
      float: right;
      background-color:lightcoral;
      margin-bottom: 10px;
  }
  .inside:nth-child(even){
    margin-bottom: 0;
  }
  
  @media (min-width: 601px) and (max-width: 1279px) {
    main {
      width: 100vw;
      height: 100vh;
    }
    .main_container{
      width: calc(100vw - 200px);
      height: 680px;
    }
    aside {
      width: calc(100vw - 200px);
      height: 100%;
    }
  }
  
  @media (max-width: 600px) {
    nav {
      width: 100vw;
      height: 58px;
    }
  
    main {
      width: 600px;
      margin-left: 0px;
      margin-top:58px;
    }
    .main_container{
      width: 100vw;
      height: 680px;
    } 
    aside {
      width: 100vw;
      height: 100%;
    }
  }
